/*
Error: Undefined variable: "$bg-blue".
        on line 4 of scss/_layout.scss
        from line 11 of scss/global.scss

1: $pink: #FC39C5;
2: $green: #21CAA3;
3: $yellow: #E9CB31;
4: 
5: $midgray: #383838;
6: $darkgray: #242424;
7: 
8: @import "variables";
9: @import "reset";

Backtrace:
scss/_layout.scss:4
scss/global.scss:11
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `load'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `<main>'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/Users/thomas/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$bg-blue\".\A         on line 4 of scss/_layout.scss\A         from line 11 of scss/global.scss\A \A 1: $pink: #FC39C5;\A 2: $green: #21CAA3;\A 3: $yellow: #E9CB31;\A 4: \A 5: $midgray: #383838;\A 6: $darkgray: #242424;\A 7: \A 8: @import \"variables\";\A 9: @import \"reset\";"; }
