/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 700; }

a         { color: #ffffff; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }




/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

header, .post-date {
  font-family: 'Roboto Condensed', sans-serif;
}


h1, h2, h3, h4, h5, h6, .post-link {
  font-family: 'Roboto', sans-serif;
}

/* Site header */

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #ffffff;
  font-size: 26px;
  float: left;
  line-height: 56px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #ffffff;
}

/* Site footer */


.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
  text-align: right;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #ffffff;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  color: #5478A1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
  color: #337AB1;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
  color: #337AB1;

}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  background-color: #49483e;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: .9rem;
  color: #FFF;
}

.post code { padding: 2px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  background-color: #49483e;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight pre {
  background-color: #49483e;
  overflow-x: scroll;
}
.highlight .c      { color: #75715e }                            /* Comment                     */
.highlight .err    { color: #960050; background-color: #1e0010 } /* Error                       */
.highlight .k      { color: #66d9ef }                            /* Keyword                     */
.highlight .l      { color: #ae81ff }                            /* Literal                     */
.highlight .n      { color: #f8f8f2 }                            /* Name                        */
.highlight .o      { color: #f92672 }                            /* Operator                    */
.highlight .p      { color: #f8f8f2 }                            /* Punctuation                 */
.highlight .cm     { color: #8e8e8e }                            /* Comment.Multiline           */
.highlight .cp     { color: #8e8e8e }                            /* Comment.Preproc             */
.highlight .c1     { color: #8e8e8e }                            /* Comment.Single              */
.highlight .cs     { color: #8e8e8e }                            /* Comment.Special             */
.highlight .ge     { font-style: italic }                        /* Generic.Emph                */
.highlight .gs     { font-weight: bold }                         /* Generic.Strong              */
.highlight .kc     { color: #66d9ef }                            /* Keyword.Constant            */
.highlight .kd     { color: #66d9ef }                            /* Keyword.Declaration         */
.highlight .kn     { color: #f92672 }                            /* Keyword.Namespace           */
.highlight .kp     { color: #66d9ef }                            /* Keyword.Pseudo              */
.highlight .kr     { color: #66d9ef }                            /* Keyword.Reserved            */
.highlight .kt     { color: #66d9ef }                            /* Keyword.Type                */
.highlight .ld     { color: #e6db74 }                            /* Literal.Date                */
.highlight .m      { color: #ae81ff }                            /* Literal.Number              */
.highlight .s      { color: #e6db74 }                            /* Literal.String              */
.highlight .na     { color: #a6e22e }                            /* Name.Attribute              */
.highlight .nb     { color: #f8f8f2 }                            /* Name.Builtin                */
.highlight .nc     { color: #a6e22e }                            /* Name.Class                  */
.highlight .no     { color: #66d9ef }                            /* Name.Constant               */
.highlight .nd     { color: #a6e22e }                            /* Name.Decorator              */
.highlight .ni     { color: #f8f8f2 }                            /* Name.Entity                 */
.highlight .ne     { color: #a6e22e }                            /* Name.Exception              */
.highlight .nf     { color: #a6e22e }                            /* Name.Function               */
.highlight .nl     { color: #f8f8f2 }                            /* Name.Label                  */
.highlight .nn     { color: #f8f8f2 }                            /* Name.Namespace              */
.highlight .nx     { color: #a6e22e }                            /* Name.Other                  */
.highlight .py     { color: #f8f8f2 }                            /* Name.Property               */
.highlight .nt     { color: #f92672 }                            /* Name.Tag                    */
.highlight .nv     { color: #f8f8f2 }                            /* Name.Variable               */
.highlight .ow     { color: #f92672 }                            /* Operator.Word               */
.highlight .w      { color: #f8f8f2 }                            /* Text.Whitespace             */
.highlight .mf     { color: #ae81ff }                            /* Literal.Number.Float        */
.highlight .mh     { color: #ae81ff }                            /* Literal.Number.Hex          */
.highlight .mi     { color: #ae81ff }                            /* Literal.Number.Integer      */
.highlight .mo     { color: #ae81ff }                            /* Literal.Number.Oct          */
.highlight .sb     { color: #e6db74 }                            /* Literal.String.Backtick     */
.highlight .sc     { color: #e6db74 }                            /* Literal.String.Char         */
.highlight .sd     { color: #e6db74 }                            /* Literal.String.Doc          */
.highlight .s2     { color: #e6db74 }                            /* Literal.String.Double       */
.highlight .se     { color: #ae81ff }                            /* Literal.String.Escape       */
.highlight .sh     { color: #e6db74 }                            /* Literal.String.Heredoc      */
.highlight .si     { color: #e6db74 }                            /* Literal.String.Interpol     */
.highlight .sx     { color: #e6db74 }                            /* Literal.String.Other        */
.highlight .sr     { color: #e6db74 }                            /* Literal.String.Regex        */
.highlight .s1     { color: #e6db74 }                            /* Literal.String.Single       */
.highlight .ss     { color: #e6db74 }                            /* Literal.String.Symbol       */
.highlight .bp     { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
.highlight .vc     { color: #f8f8f2 }                            /* Name.Variable.Class         */
.highlight .vg     { color: #f8f8f2 }                            /* Name.Variable.Global        */
.highlight .vi     { color: #f8f8f2 }                            /* Name.Variable.Instance      */
.highlight .il     { color: #ae81ff }                            /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .footer-col-3 {
    text-align: left;
    padding-top: 10px;
    border-top: 1px solid #fff;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .footer-col-3 {
    text-align: left;
    padding-top: 10px;
    border-top: 1px dashed #fff;
  }

  .site-nav {
    position: absolute;
    z-index: 10;
    top: 14px; right: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #5478A1;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    color: #5478A1;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}