body {
  //background: url(../images/green_cup/green_cup.png) repeat;
  //background: url(../images/halftone/halftone.png) repeat;
  background-color: $bg-blue;
  //background: linear-gradient(20deg, #667B96 0%, #2B3523 40%, #FFFFFF 100%);
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.12s linear;
  &:hover {
    color: $home-hover;
  }
}

.site-header {
  z-index: 20;
  background-color: $bg-blue;
  position: relative;
  min-height: 50px;
}


.site-footer {
  position: relative;
  padding: 30px 0;
}


.menu-items {
  width: 100%;
  text-align: right;
  background: $bg-blue;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 0;
  z-index: 4;
  display: block;
  transition: all 0.12s ease-in-out;

  a {
    padding: 0 5px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &.visible {
    border-top: 1px dashed #fff;
    padding: 5px 12px;
    height: 40px;
    a {
      opacity: 1;
    }
  }
}

.inner-page-link {
  display: none;
  color: #fff;
  padding: 0 10px;
  font-size: 1rem;

  &:last-child {
    padding-right: 0;
  }
}

.page-content {
  position: relative;
}

.post {
  color: #454545;

  a {
    color: #454545;
    text-decoration: underline;
    transition: color 0.25s ease-in-out;
    &:hover, &:active {
      color: #337AB1;
    }
  }

}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 2rem 0;
  background-color: #fff;
}

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 2rem;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
  color: darken($bg-blue, 15%);
}

.post-header .meta {
  font-size: 1rem;
  color: #818181;
  margin-top: 5px;
}

.post-content {
  margin: 0 0 30px;
  font-size: 1.1rem;
}

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
  color: darken($bg-blue, 15%);

}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; color: #576c85; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 1.5rem;
  letter-spacing: -1px;
  line-height: 1;
  color: darken($bg-blue, 10%);
  transition: color 0.25s ease-in-out;
  &:hover {
    color: $home-hover;
  }
}

.posts .post-date {
  display: block;
  font-size: 1rem;
  color: #818181;
}


.tm-logo {
  font-weight: 100;
  b {
    font-weight: 400;
  }
}

.social {
  width: 100%;
  text-align: center;
  position: relative;
  height: 50px;
  .inner {
    border-top: 1px dashed lighten($darkgrey, 10%);
    padding-top: 25px;

  }
  .twitter-share-button {
    float: left;
  }
}

.article-list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0 !important;
  a {
    font-size: 1.1rem;
  }
}

table {
  thead {
    text-align: left;
  }
   * {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
  border: 1px solid #ccc;
  border-collapse: collapse;
  td, th {
    padding: 5px;
  }
}
